
<div class="cloud3"> </div>
<div class="about"> 
		<div class="aboutsect1">
			<div>
				<h1>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp About</h1>
				<p> &nbsp &nbsp &nbsp &nbsp &nbsp <span style="font-size:1.4em;">An online app</span> crafted  to be a study aid. I was learning different species of flowers and birds and thought, "I wish had this simple app for decades." And now, here it is.  
				<br><br> &nbsp &nbsp &nbsp &nbsp &nbsp Enjoy and learn.
				</p> 
			</div>
		</div>

		<div class="aboutsect1 aboutsect2">
			<div>
				<h1>The Futura</h1>
				<p> &nbsp &nbsp &nbsp &nbsp &nbsp <span style="font-size:1.4em;">Upcoming improvements</span> will be adding personal options and accounts, and to reverse the ability of the cards to show text first then image. 
				<br><br> &nbsp &nbsp &nbsp &nbsp &nbsp 
				Don't hold your breath. 
				</p> 
			</div>
		</div>

</div>