

	<div class="welSect1">
	 	<header id="basement" class="band" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">       
	        <div class="container">
	            <div class="columns sixteen" data-0="opacity: 1" data-180="opacity: 0" data-500="background-position:0px -250px;">          
	            </div>
	        </div>
        	<div class="welTitle"> 
          	  <p>Iris</p>
      		  </div>
	    </header>
	</div>
   
    <div class="welSect2">

 
         <div class="sect2inner">


            <center><p class="welP1 col-md-12">a visual learning aid </p></center> 
            <p class="col-md-5 welP2"><strong>In ancient Greek mythology,<br> Iris, the goddess of the rainbow and the messenger of the gods, travels with the speed of the wind to all corners of the world to deliver their messages.</strong></p>  
        </div> 
    </div>    

    <div class="welSect20">
        <div class="sect20inner">
           
      <div class=" minCard">
        <% @cards = Card.order('created_at DESC').limit(9) %>
        <% @cards.each  do |card| %>
          <div class=" item card" style="width:8%; margin: 1.2%">

            <div>
              <div><%= link_to image_tag(card.image_url, :class => "thumb"), card_path(card.id) %>
              </div>
            </div>
            <div class="edit mincap col-md-12">
              <div class="col-md-10 mincap"><strong> <%= card.caption %></strong>
              </div>

            </div>
          </div>
        <% end %>
      </div>            
    </div> 


    </div>    



    <div class="welSect21">
        <div class="sect2inner">
            <p class="col-md-8 welP4"><strong>number of cards sent online<span class="dreamers">0237</span> </strong></p>  
            
            <p class="col-md-6 welP3"><strong>number of ideas shared <span class="dreams">0129734</span>
            </strong></p>  
            
            <p class="col-md-9 welP5"><strong>number of lives changed <span class="dream">031248</span> </strong></p>  
        </div> 
    </div>    

    <div class="welSect3"> 
         <div class="container col-md-12 sect3inner">
            <p class="wel3P1"><strong>How to use</strong></p>
             
            <p class="wel3P2 col-md-4"><span class="join">001</span> <br><strong> Create a deck | add cards with short messages.</strong></p>  
            
            <p class=" wel3P3"><span class="start">002<br></span><strong> Pick a deck. </strong></p>  

            <p class="col-md-5 wel3P5"><span class="repeat">003</span><strong><br>Learn.  </strong></p>  
        </div>
    </div>


    <div class="welSect4"> 
         <div class="container col-md-12 sect4inner">
            <p class="wel4P1"><strong>IDEAS</strong></p>
             
            <p class="wel4P2 col-md-4"><span class="idea">Geography</span> <br><strong> Names of geographic features, countries, international cities...</strong></p>  
            
            <p class=" wel4P3"><span class="idea">Birds<br></span><strong> Heron, spoonbill,<br> bird of paradise... </strong></p>  

            <p class="col-md-5 wel3P5"><span class="idea">Greek Gods </span><strong><br>Iris, Demeter, Ares, Poseidon, Athena, Apollo...  </strong></p>  
        </div>
    </div>

   <div class="welSect5"> 
        <div class="cloud"> 
        </div>
         <div class="container col-md-12">
            <p class="wel5P1"><strong> - "Learn all the things!"</strong></p>
        </div>
    </div>

    <script type="text/javascript" src="assets/skrollr.min.js"></script>
    <script type="text/javascript">
             skrollr.init();
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

