

<div class="cloud2"> 
        </div><div class="about"> 
 
		<div class="aboutsect1">
			<div>
				<h1>&nbsp &nbsp &nbsp Tips</h1>
				<p> &nbsp &nbsp &nbsp &nbsp &nbsp <span style="font-size:1.4em;">Some words to help you</span> learn and memorize ideas, images, and words. 
				</p> 
			</div>
		</div>

		<div class="aboutsect1 aboutsect2">
			<div>
				<h1>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp Quantity x Quality </h1>
				<p> &nbsp &nbsp &nbsp &nbsp &nbsp <span style="font-size:1.4em;">Like with most things,</span> to get better at them, you'll need to put in time. But not only that, you have to be effective. Make sure to be well rested and have little or no distractions. Turn that TV off. The music, too! Your brain can only take in one thing at a time, scientific research. Multitasking will just slow you down, so focus and be disciplined.  
				<br><br> &nbsp &nbsp &nbsp &nbsp &nbsp You can do it!

				</p> 
			</div>
		</div>

		<div class="aboutsect1 aboutsect2">
			<div>
				<h1> &nbsp&nbsp &nbsp &nbsp Memorizing</h1>
				<p> &nbsp &nbsp &nbsp &nbsp &nbsp <span style="font-size:1.4em;">Focus</span> on your weaknesses, not on your strength. Review what you already know once in a while, but focus most of your time  on what's hard. With time, you'll get it, and it'll become easier, so be efficient with your time and build on your weaknesses, not strength. 
				</p> 
			</div>
		</div>


		<div class="aboutsect1 aboutsect2">
			<div>
				<h1>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp Mnemonic</h1>
				<p> &nbsp &nbsp &nbsp &nbsp &nbsp <span style="font-size:1.4em;">Use them!</span> It's the use of letters, ideas or association to help you remember. Connect ideas to visuals. For example, if you have an image of a  petunia flower, try to connect that with a person with the same name. 
				<br><br> &nbsp &nbsp &nbsp &nbsp &nbsp 
	 			You got this. 
	 			</p> 
			</div>
		</div>

		<div class="aboutsect1 aboutsect2">
			<div>
				<h1>&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp Grit</h1>
				<p> &nbsp &nbsp &nbsp &nbsp &nbsp <span style="font-size:1.4em;">Don't give up.</span> Perfect practice makes perfect. The more you learn, the easier it'll get, but if you don't know as much, then life is going to be a lot harder. 
				<br><br> &nbsp &nbsp &nbsp &nbsp &nbsp 
				With anything, it takes practice, time, and discipline. Push yourself and after a while, learning about the world is pretty fun. You just have to get over the hump, but it takes a lot of  hard work at first. 
				</p> 
			</div>
		</div>


</div>