
.about {
	font: joes; 
}

div.about > div > div {
	padding: 3em 10em 6em 10em; 
}

.aboutsect1 {
    z-index: 3;
    min-height: 20em;
    position:relative;
    padding-bottom:1em;
}

.aboutsect1 > div > h1 {
	font-family: joes;
	font-size: 5em;
	margin: 1em 1em 1em 2em;
}

.aboutsect1 > div > p {
	font-family: joes;
	font-size: 2em;
	line-height: 1.3em;
}

div.welSect2 {
    z-index:3;
    min-height: 55em; 
    background-color: #FFFFFF; 
    position:relative;
    font-family: joes !important;
}

.aboutsect2 {
	background-color: #E0E0E0;
}

.cloud2 {
    background-image:url(/assets/iris.jpg);
    background-size: 100%;
	height: 9.2em;
	width: 23em;
	z-index: 10;
	top: 7.7em;
	position: absolute;
	left: 4em;
    }

.cloud3 {
    background-image:url(/assets/iris.jpg);
	background-size: 100%;
	height: 6.2em;
	width: 23em;
	z-index: 10;
	top: 4.8em;
	position: absolute;
	left: 32em;
    }

.icon {
	font-size: 3.7em; 
	text-align: center;
	top: 1.2em;
	}

.icon i {
	margin: 0 1em;
}


.icon a:hover {
	opacity: .3;
}

.white1 { 
	background-color: #FFF; 
	height: 40em;
	}