// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cardh1 {
	font-family: helvetica;
}

.cardh1 > h1 {
	font-family: joes;
	font-size: 5em;
	margin: 1.2em 2em .6em 2em;
}

.card {
	font-size: 1.5em;
	font-weight:600;
}
/*.newCard { 
	margin: 2em 37%; 
	background-color: #1ABC9C; 
	font-size: 1.3em;
	border-radius: .4em; 
	opacity: .95; 
	color: #f2f2f2; 
	letter-spacing: .1em;
	 }*/

.innerCard { 
	padding: 3.3em  2em 7em 2em; 
	}

.thumb { 
	width: 100%; 
	height: auto; 
	overflow: hidden; 
	border-radius: 6px 6px 0 0; 
	}

.rows td { 
	padding: 1em .4em; 
	}

.centerTd > th { 
	text-align: center; 
	}

.item ul { 
	float: 
	left; 
	}

.item {
	clear: 
	both; 
	}

.card {
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	background-color: #fff;
}
.details { 
	clear:both; }

.details > li:first-child { 
	font-weight: 500;}

div.edit { 
	min-height: 5em !important;
	opacity: 0; 
	transition: all 0.3s ease; 
	display: inline-flex; 
	 }

.edit > li { 
	margin: .5em .5em; }

.edit:hover {
 	opacity: .8;
 	}

.topicCard { 
	float: left; 
	}

/*.boo > :nth-child(2) { 
	font-weight: 600; 
	opacity: 0; 
	transition: all .4s ease;}*/

.boo:hover :nth-child(2)  { 
	opacity: .99; 
	}

.bottomBtn { 
	clear: both; 
	display: inline-flex; 
	margin: 2em;
}

.bottomBtn li { 
	color: #fefefe; 
	margin: 2em .3em; 
	opacity: .6; 
	}

.awesome {
	float: right;
	right: 0 !important;
}

.awesome > li > a {
	margin: .6em  3px .5em .3em; 
	font-size: 1.3em !important; 
	display: inherit;
	position: relative;
	clear:both;
} 

.cap {
	margin:.9em 0; 
}

.btnCard {
	min-height: 15em;
	margin-bottom: 1em; 
 	opacity: .5;	
 	border-radius: 6px 6px 0 0; 
}

.plus {
	top: 36%;
	font-size: 4em; 
	left: 42%; 
	position: absolute;
}

div > .addcard { 
	margin: 1em 4em 3em 2.5em; 
/*	transition: fade  0.7s ease;
*/	opacity: 0; 
}

div:hover > .addcard {
	opacity: 1;
}



