// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.newCard { margin: 2em 37%; background-color: #1ABC9C; font-size: 1.3em;
	border-radius: .4em; opacity: .95; color: #f2f2f2; letter-spacing: .1em;
	 }

.innerCard { padding: 3.3em  2em 7em 2em; }