// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.newCard { margin: 5em 37%; background-color: #1ABC9C;
	border-radius: .4em; opacity: .95;
	 }

.innerCard { padding: 3em  2em 7em 2em; }