 

.newCard { 
	margin: 2em 37%; 
	font-size: 1.7em;
	background-color: #FFFFFF;
	border-radius: .6em; 
	opacity: .95; 
	color: #333; 
	letter-spacing: .1em;
	line-height: 1.4;
	box-shadow: 5px 5px 5px #888888;
	font-family: joes;
	padding: 1.7em 0;
	 }

.editpage {
	background-color: #F6F6F6;
	font-family: joes;
 	top: -.6em;
 	padding: 6em 0 !important;

}

.editpage > h1 {
	padding: .8em 2em 0 0;
	font-size: 5em;
}
